- const getInputName = (f, property) => `${f.name}[${property}]`

mixin formFor(f, options = {})
  - const url = _.get(options, 'url');
  - const method = _.get(options, 'method', 'get').toLowerCase();
  - const isStandart = _.includes(['get', 'post'], method);
  form(action= url method= isStandart ? method : 'post')
    if !isStandart
      input(name='_method' type='hidden' value= method)
    block

mixin input(f, property, options = { as: 'text', autofocus: false })
  - const value = f.object[property] === undefined ? '' : f.object[property]
  - const error = f.errors[property]
  .form-group
    label= property
    input(name=getInputName(f, property) class=`form-control ${error && 'is-invalid'}` type=options['as'] value=`${value}` autofocus=options.autofocus)
    if error
      .invalid-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin select(f, property, options = {})
  .form-group
    label= property
    select.custom-select(name=getInputName(f, options.name))
      each item in options.items
        option(value= item.id selected= (item.id === options.selected))= item.name

mixin button(f, type = 'submit')
  .form-group
    input(class='btn btn-primary' type=`${type}` value=`Save`)
