extends /layouts/application.pug

block content
  a.btn.btn-primary(href=urlFor('newTask')) Add
  h3 Filter tasks
  form.form-inline.mb-3(action= urlFor('filterTasks') method='get')
    .form-check.mr-3
      input.form-check-input(type="checkbox" name="mytasks" value="mytasks" id="defaultCheck1" checked= mytasks)
      label.form-check-label(for="defaultCheck1") My tasks
    +inputFilter('tags', { name: 'tags', value: currentTags })
    +selectFilter('status', { name: 'statusId', items: statuses, itemTitle: 'name', selected: selectedStatusId })
    +selectFilter('assigned to', { name: 'assignedId', items: users, itemTitle: 'fullName', selected: selectedAssignedId })
    +button()
  h3 Tasks
  if tasks.length > 0
    table.table.table-stripped
      thead
        tr
          th Name
          th Status
          th Assigned to
          th Creator
          th Created At
          th Actions
      tbody
        each task in tasks
          tr
            td
              a(href= urlFor('showTask', { id: task.id }))= task.name
            td= task.Status && task.Status.name
            td= task.Assigned && task.Assigned.fullName
            td= task.Creator.fullName
            td= formatDate(new Date(task.createdAt), 'HH:mm DD.MM.YYYY')
            td
              a.btn.btn-link(href= urlFor('editTask', { id: task.id })) Edit
              form.form-inline.d-inline-block(action= urlFor('deleteTask', { id: task.id }) method='post' data-confirm="Are you sure?")
                input(name='_method' type='hidden' value='delete')
                button.btn.btn-link(type='submit') Delete
  else
    p Empty
